mat-card {
  max-width: 500px;
  min-height: 350px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  mat-card-title {
    color: #024071;
  }
}
.content{
  width: 100px;
}
