<div class="action-progress" *ngIf="this.postService.isLoading$ | async">
  <mat-spinner></mat-spinner>
</div>

<ng-template #emptyData="">
  <div class="empty-date"> There Are No Data</div>
</ng-template>

<h1>Posts</h1>
<div fxLayout="row wrap" *ngIf="!(postService.isDataEmpty$ | async); else emptyData">
  <app-post fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%"
    *ngFor='let post of this.postService.items$ | async'
    [item]='post'
    (onClick)="changeActivated($event)"
  ></app-post>
</div>

